html body{
    background-color: #F9F4F0;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}

footer{
    background-color: #1E1C1D;
    color:#F9F4F0;
    font-style: bold;
    font-size: 0.9em;
    
    padding: 10px 5px;
}

h1{
    font-family: 'Shrikhand', cursive;
    font-size: 60px;
    margin: 0;
}

h2{
    font-family: 'Shrikhand', cursive;
    font-size: 35px;
    margin:0
}

h3{
    font-size:35px;
    font-style: italic;
}

p{
    margin: 0
}

a{
    text-decoration: none;
}

hr{
    height:3px;
    background-color: #E0218A;
    border-color: #E0218A;
    margin:10px 0
}

.button{
    font-family: 'Shrikhand', cursive;
    font-size: 1.25em;
    letter-spacing: 1px;
    color:#F9F4F0;
    padding: 0.5em 0.75em;
    background-color: #E964AD;
    border:4px solid #E0218A;
    border-radius: 12px;
}

.button:hover{
    background-color: #75BDDD;
    border-color: #E964AD;
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 2px #1E1C1D33;
}

.container{
    background-color: #FEDAE7;
    color:#E0218A;
    overflow: hidden;
    border-radius: 5px;
}

.mobile-navigation{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #E0218A;
    height: 55px;
    padding: 0 10px;
}

.nav-logo{
    font-family: 'Shrikhand', cursive;
    color:#F9F4F0;
    margin:5px;
    -webkit-text-stroke: 0.5px  #E964AD;
    text-shadow: 0.5px 0.5px #1E1C1D;
}

.navbar-toggler{
    font-size: 1.5em;
    color:#F9F4F0
}
   
.mobile-nav-links{
    position:absolute;
    display:flex;
    flex-direction: column;
    width: 100%; 
    z-index: 3;
}

.mobile-link{
    border-top: 0.5px solid #F9F4F0;
    margin: auto;
    width: 100%;
    text-align:center;
    background-color: #E0218A;
    height: 45px;
    line-height: 45px;
    color:#FEDAE7;
    text-decoration: none;
    transition: 0.5s;
}

.mobile-link:hover{
    background-color: #E964AD;
    color:#FEDAE7;
}

.desktop-navigation-container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #E0218A;
    height: 55px;
    padding: 0 10px;
}

.nav-links{
    display: flex;
}

.nav-link{
    color: #F9F4F0;
    font-size: 1em;
    box-sizing: border-box;
    width: 90px;
    height: 55px;
    border-left :0.5px solid #F9F4F0;
    text-align: left;
    line-height: 55px;
    padding-left: 10px;
    transition: 0.5s;
}
    
.nav-link:hover{
    background-color: #E964AD;
    color:#FEDAE7;
}

.drop-button{
    position: relative ;
    display: inline-block;
}

.dropdown-links{
    position: absolute;
    z-index: 2;
    display: none;
}

.dropdown-link{
    color: #F9F4F0;
    background-color: #E0218A;
    font-size: 1em;
    box-sizing: border-box;
    width: 90px;
    height: 50px;
    border-top: 0.5px solid #F9F4F0;
    text-align: left;
    line-height: 50px;
    padding-left: 10px;
    transition:0.5s; 
    display: block;
    text-decoration: none;
}

.dropdown-link:hover{
    background-color: #E964AD;
    color:#FEDAE7;}

#drop-content:hover .dropdown-links{
    display:block;
 /*setting target for this is the WHOLE dropdown div*/
}

/*CAROUSEL*/

#entire-carousel{
    display:block;
}

#hero-content-carousel{
    width:100%;
    margin: 0;
    aspect-ratio: 16/9;
    /*keeps broken imgs from altering layout*/
}

#hero-content-carousel img{
    width: 100%;
    height: auto;
    filter: blur(0.5px);
    filter:opacity(80%);
    
}

.overlay{
    width: 100%;
    aspect-ratio: 16/9;
    z-index: 1;
    position: absolute;
    overflow: auto; 
    /*REMEMBER OVERFLOW TO KEEP CONTaINER SIZE*/
}

.overlay-logo img{
    width:50%;
    margin: 10% auto;
    margin-bottom: 0;
    display:flex;
    /*REMEMBER!! IMGS are BLOCK by DEFAULT*/
}

.overlay-container{
    background-color: #FEDAE7;
    color: #E0218A;
    max-width: 50%;
    margin:5px auto;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #1E1C1D33;
}

.info-container{
    background-color: #FEDAE7;
    color: #E0218A;
    text-align: center;
    display:block;
    width:100%;
    box-sizing: border-box;
    padding: 5px 10px;
}

/*YUMMY CONTENT*/

.header{
    background-color: #E964AD;
    text-align: center;
    color: #F9F4F0;
    letter-spacing: 0.1em;
    text-shadow: 7px 3.5px 1px #E0218A;
    -webkit-text-stroke: 2px #E0218A;
    /*unfortunately there is no inside/outside stroke option, which makes my inner graphic designer cry*/
    padding: 10px; 
}

.section-content{
    
    margin: 20px auto;
    width: 80%;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
    
}

#feature-content{
    background-color: #FEDAE7;
    border-radius: 5px;
}
#feature-text{
    margin:  auto;
}

#about-text{
    margin:  auto;
}

#contact-text{
    margin: auto;
}

#feature-images{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    gap: 10px;
    padding:5px;
    padding-bottom: 0px;

}

.feature-image{
    width: 250px;
    box-sizing: border-box;
    padding: auto;
    margin-bottom: 0;
    
}
.feature-image img{
    height: 450px;
    width:250px;
    object-fit: cover;
    box-sizing: border-box;
    background-color: #F9F4F0;
    border-radius: 5px;
    margin-bottom: 5px;
}

.feature-image figcaption{
    background-color:#F9F4F0;
    color:#E0218A;
    padding: 5px 10px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    width:95%;
    margin: 5px auto;
}

.feature-image img:hover{
    border: 3px solid #E0218A;
}

.feature-title{
    font-weight: bold;
}

.feature-year{
    font-style: italic;
}

/*ABOUT*/

#about-content{
    background-color: #FEDAE7;
    border-radius: 5px;
    
}
#about-text{
    background-color: #F9F4F0;
    padding: 5px 10px;
    border-radius: 5px;
}

#learn-more{
    margin:10px auto;
    display: block;
}

#about-image{
   width:100%;
   min-width:350px;
   object-fit:contain;
   margin: 10px auto;
}
.image-container{
    margin: auto;
    display: flex;
    overflow: hidden;
    object-fit: contain;
}
/*FORM*/

#contact-content{
    display:flex;
    align-items: baseline;
}

#hi-barbie{
    position: relative;
}

#hi-barbie img{
    min-height:400px;
    object-fit: cover;
}

.tooltiptext{
    visibility: hidden;
    z-index: 2;
    background-color: #FEDAE7;
    color: #E0218A;
    padding: 6px 2px;
    width: 80px;
    border-radius: 3px;
    text-align: center;
}

.tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #FEDAE7;
  }

#hi-barbie .tooltiptext{
    position: absolute;
    top: 10%;
    right: 65%;
}

#hi-barbie:hover .tooltiptext{
    visibility: visible;
}

#contact-form{
    margin: auto;
    padding:15px 10px;
    background-color: #FEDAE7;
    border-radius: 5px;
    
}

label{
    display:block;
    color:#E0218A
}

label, input, textarea{
    width: 100%;
}

input, textarea{
    background-color: #F9F4F0;
    color:#E964AD;
    border:none;
    padding:2px 5px;
    border-radius: 2px;
    margin: 3px 0;
}

.inline-check{
    width: unset;
}

#contact-submit{
    margin:auto;
    margin-top: 15px;
    display: block;
}





.creation-info{
    text-align: center;
    margin:0.5em;
    padding: 0.5em;
}

.icon-row{
    display:flex;
    flex-flow: row wrap;
    margin:auto;
    justify-content: center;
    gap:10px
}

.social-icon{
    height:40px
}

/*LIST PAGES*/

#A-Z-content{
    padding-top: 0;
}

.letter-number-header h1{
    color:#E0218A;
    font-size: 40px;
    padding-top: 15px;
}

.list-images{
   /* display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    overflow: visible;
    NOTE: this was pre-implementing Bootstrap for more effective layout*/
    padding:10px;
    padding-bottom: 0px;
    margin: auto;
    background-color: #F9F4F0;
    border-radius: 5px;

}

.list-image{
    width:150px;
    height: 355px;
    overflow: hidden;
    margin: 2px auto;
}

.list-image img{
    height:270px;
   width:150px;
    object-fit: cover;
    box-sizing: border-box;
    background-color: #F9F4F0;
    margin-bottom: 5px;
}

.list-image figcaption{
    font-size: 13px;
    text-align: center;
    background-color:#FEDAE7;
    color:#E0218A;
    padding: 5px 5px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    width:95%;
    margin: 5px auto;
}

.list-image img:hover{
   box-shadow: 1px 1px 5px #1E1C1D33;
    border:2px solid #E0218A;
}
/*.list-images::after{
    content: "";
    width: 150px;
}*/

.list-title{
    font-weight: bold;
}

.list-year{
    font-style: italic;
}


/*INFO PAGES*/

#info-page-content{
    display: flex;
   gap:10px;
}

.info-page-text{
    width: 50%;
    padding-bottom: 6px;
    overflow: scroll;
}

.info-page-text h1{
    margin: 6px 0 ;
}

#info-page-carousel{
    object-fit: cover;
    width:50%;
    margin: auto;
}

.carousel-item img{
    position: relative;
}

.info-page-caption{
    position: absolute;
    top: 90%;
    width: 100%;
    text-align: center;
    padding:5px;
    background-color: #E964ADF2;
    color: #1E1C1D;
    font-size: 12px;
    visibility: hidden;  
}

#info-page-carousel:hover .info-page-caption{
    visibility: visible;
}

#go-back-button{
    margin:auto;
    display: block;
}

#whoops img{
    margin: 20px auto;
}

#whoops-button{
    margin-top: 10px;
}


/*MEDIA QUERIES*/

@media only screen and (max-width: 768px) {
    .overlay-container{
       display: none;
    } 
    .desktop-navigation-container{
        display: none;
    }

}

@media only screen and (min-width: 768px) {
    .info-container{
        display: none;
    }
    .mobile-navigation{
        display: none;
    }
    .mobile-nav-links{
        display: none;
    }


    #info-page-carousel{
        max-height: 845px;
        max-width: 470px;
    }
} 

@media only screen and (max-width: 576px){

    .list-image, .list-image img{
        width:120px
    }

    .list-image figcaption{
        font-size: 12px;
    }

    #info-page-content{
        display: block;
    }

    #info-page-carousel{
        width:100%;
        margin-bottom: 10px;
    }

    .info-page-text{
        width: 100%;
    }

    
   
}

@media only screen and (max-width:500px){
    .header h1{
        font-size: 45px;
        text-shadow: 6px 3px #E0218A;
        -webkit-text-stroke: 1px #E0218A;
    }
    h1{
        font-size:40px;
    }

    #hi-barbie img{
        display: none;
    }

   

    

}

@media only screen and (max-width:400px){
    
    .list-images{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
    }
}

@media only screen and (max-width:992px){
    .info-page-text h1{
        font-size:40px;
    }

    .info-page-text p{
        font-size:14px;
    }
}

@media only screen and (min-width: 1200px){
    p, a, figcaption,label, input, textarea, .nav-link, .dropdown-link{
        font-size: 20px;
    }
    
    .header h1{
        font-size: 70px;
        text-shadow: 8px 4px #E0218A;
        -webkit-text-stroke: 2.5px #E0218A;
    }

    .feature-image{
        width: 278px;
    }

    .feature-image img{
        height: 500px;
        width:278px;
    }

    .list-image{
        width:160px;
        height:380px;
    }

    .list-image img{
        width:160px;
        height: 288px;
    }

    .list-image figcaption{
        font-size:15px;
    }
}